
* {
    margin: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  
  
  .App{
    display: grid;
    grid-template-rows: 80px 1fr;
    box-sizing: border-box;
    font-family: Barlow;
    background-color: rgba(19, 18, 18, 0.05);
  }
  
  .nav li{
    list-style: none;
    display: inline-block;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(13, 11, 16, 0.7);
    color: white;
    backdrop-filter: blur(10px);
    width: calc(100% - 2rem);
    position: fixed;
    z-index: 100;
    font-family: 'Major Mono Display', sans-serif;  
  }
  
  #logo{
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    width: 300px;
  }

  #logo > img{
    height: 60px;
    transition: all ease-in-out 1s ;
  }

  #logo.spin > img {
    transition: all ease-in-out 1s ;
    transform: rotate(180deg);
  }

  .nav{
    width: 300px;

  }

  #basket-icon-container{
    width: 300px;
    justify-content: end;
  }
  
  .Content{
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    width: 100vw;

  }
  
  #product-hero-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    transition: all 0.5s;

  }

  #product-hero-section.basket-open{
    width: 66%;
    transition: all 0.5s;
  }
  .product-image-container, .product-info{
    margin: 2rem;
    height: auto;
    width: auto;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
  }
  
  .product-info{
    justify-self: start;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
    display: grid;
    grid-template-columns: 1fr fr;
    grid-template-rows: max-content max-content max-content 12rem max-content ;
    min-width:300px;
    max-width: 33%;
    max-height: calc(100vh - 80px);
    align-items: center;
  
  }
  
  #name{
    padding: 1rem;
  }
  
  #price{
    grid-column-start: 2;
    padding: 1rem;
    font-style: italic;
    font-weight: 200;
    justify-self: end;
  }

  #color{
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  #colors{
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
  }
  
  #colors input{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: none;
    margin: 0.5rem;
    color: transparent;
  }

  #colors input[value="1"] {
    background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 66%, rgba(167,66,60,1) 66%, rgba(167,66,60,1) 100%);
  }
  #colors input[value="2"] {
    background: linear-gradient(135deg, rgba(29,29,29,1) 0%, rgba(29,29,29,1) 66%, rgba(255,216,49,1) 66%, rgba(255,216,49,1) 100%);
  }
  #colors input[value="3"] {
    background: linear-gradient(135deg, rgba(217,167,98,1) 0%,rgba(217,167,98,1) 33%, rgba(74,40,5,1) 33%, rgba(41,27,12,1) 66%, rgba(0,114,156,1) 66%, rgb(45, 189, 218) 100%);  }
  
  #description{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1rem;
    align-self: flex-start;
  }
  
  .basket-container{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
  }
  
  #addtobasket{
    padding: 1rem;
    width: 200px;
    border-radius: 40px;
    background-color: rgba(13, 11, 16, 0.7);
    border: none;
    color: white;
    font-family: Barlow;
    cursor: pointer;
  }

  #addtobasket:hover{
    background-color: rgba(13, 11, 16, 0.5);
  }
  #addtobasket:active{
    background-color: rgb(240,240,240);
    color: #565458;
  }
  
  .product-image-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;
    justify-self: end;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 80px - 4rem);
   
  }
  
  .image-container{
    margin: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-height: calc(100% - 4rem);
    margin: none;
  }
  
    .image-container img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      min-width: 50vh;
      max-height: 786px;
    }
    
  
  .slider-container{
    box-sizing: border-box;
    width: 150px;
    height:auto;
  }
  
  .large-image-container{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(13, 11, 16, 0.9);


    background: linear-gradient(144deg, #c3bcca, #242224);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;

    /*background-image: linear-gradient(to bottom, #4d6993, #2f86a8, #22a1ad, #53baa3, #92ce93);*/
    justify-content: end;
    max-width: 100vw;
  }
  
  .large-image-container.alt{
    justify-content: start;
    background-image: none;
    background-color: rgba(13, 11, 16, 0.2);
    width: 100vw;
  }
  
  .large-image{
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .large-image-container.alt > .large-image{
    position: static;
    right: unset;
    left: 0;
  }
  
  #basket-drop-down{
    font-family: Barlow;
    position: fixed;
    right: 0;
    top: calc(80px + 1rem);
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    height:auto;
    width: calc(33% - 4rem);
    min-width: 30rem;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  
  }
  
  #basket-drop-down.basket-closed{
    scale: 0;
    transform-origin: top right;
  }


  #basket-icon-container{
    display: flex;
    cursor: pointer;
  }

  .items-container{
    width: calc(500px - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-container{
    display: grid;
    align-items: flex-end;
    justify-items: center;
    grid-template-columns: 1fr 4fr 0.5fr 0.2fr 4rem;
    gap: 0.5rem;
    border-bottom: solid rgb(200, 200, 200) 0.5px;
    height: 40px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
  }

  #close-bag{
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
  }

  .reveal{
    position: relative;
    transform: translateX(350px);
    opacity: 0;
    transition: 3s all ease-in-out;
  }

  .reveal.alt{
    transform: translateX(-350px);
  }

  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }

  .image-overlay-text{
    position: absolute;
    z-index: 10;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 100px;
    width: 20rem;
    translate: 55vw;
    color: rgba(13, 11, 16, 0.9);
    font-weight: 300;
    line-height: 80%;
  }

  .image-overlay-text.alt{
    translate: -65vw;
    color: rgba(255,255,255,0.9);

  }

  .image-overlay-text em{
    font-weight: 700;
  }






  @-webkit-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}
@keyframes AnimationName {
    0%{background-position:45% 0%}
    50%{background-position:56% 100%}
    100%{background-position:45% 0%}
}